* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Gabarito;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 20px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar__logo {
  width: 130px;
  height: 50px;
}

.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 50px;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}

.navbar__s2 input:focus {
  outline: none;
}

.fa-solid {
  margin-top: 2px;
}

.navbar__s3 {
  padding: 10px;
  display: flex;
  gap: 25px;
  margin-top: 5px;
  align-items: center;
}

/* my learning popup */
.my-learning {
  position: relative;
  cursor: pointer;
}
.my-learning__popup {
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width: 100px;
  top: 80%;
  right: 130px;
  padding: 20px;
  display: none;
}

.my-learning:hover .my-learning__popup {
  display: block;
}
.categories {
  padding: 10px;
  display: flex;
  border-bottom: solid black 1px;
  flex-direction: row;
  justify-content: space-around;
}

.categories p {
  background-color: rgb(40, 104, 241);
  color: white;
  padding: 8px;
  border-radius: 20px;
}

.hero-section img {
  width: 100%;
  height: 600px;
}

.hero-section {
  position: relative;
}

.hero-section__offer {
  width: 35%;
  background-color: black;
  border: 2px solid white;
  color: white;
  position: absolute;
  top: 15%;
  left: 200px;
  padding: 20px;
}

.recommended {
  padding: 10px;
  margin-bottom: 10px;
}

.recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.course-card {
  width: 450px;
}

.course-card img {
  width: 100%;
  height: 200px;
}

.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.topics__container p {
  border: solid grey 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}

.populer {
  padding: 10px;
  margin-bottom: 20px;
}

.populer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.footer {
  padding: 10px;
  background-color: black;
  color: white;
}

.footer__1 {
  display: flex;
  gap: 10px;
}

.footer__1 p {
  margin: 20px;
}
.footer__2 {
  display: flex;
  justify-content: space-between;
}
